@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/*setting everything to default*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
}
header{
    background-color: #1f2937;
    padding: 16px 208px;
}
/*logo on page*/
#logo-left{
    font-size: 1.5em;
    font-size: 24px;
    color: #E5E7EB;
}
/*container for all elements in header*/
.flex-container{
    display: flex;
    
    justify-content: space-between;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 90px;
    font-size: 18px;
   
    
}
/*targets anchor tag */
.flex-container a {
 justify-content: right;
 text-decoration: none;
 color: white;
}
/*position of texts and buttons and img*/
.welcome{
    display: flex;
    padding: 112px 0;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.welcome .left{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*call to action for button*/
button {
    padding: 7px 16px;
    width: 110px;
    background-color: #3882F6;
    border-radius: 6px;
    border: none;
    margin-top: 10px;
  
}
.welcome .secondary{
    font-size: 18px;
    color: #E5E7EB;
}
.hero {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}
.right-side{
    display: flex;
    
}
/*image positioning*/
.right-side img{
    justify-content: right;
    width: 400px;
    height: 250px;
    margin-top: 13px;
}
/* CARD SECTION */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 13em;
    margin-top: 48px;
}
main h2{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.second-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
    
}

.center img{
    border-radius: 30px;
    width: 200px;
    height: 200px;
    margin: 30px;
   
}
/* QUOTE */
.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 112px 208px;
}
.quote p {
    align-self: flex-end;
    font-weight: bolder;
    font-size: 24px;
    color: #1f2937;
}
.quote em {
    font-size: 36px;
    font-weight: 100;
    color: #1f2937;
}

.sign-up{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 208px;
}
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}
.container button {
    border: 2px solid #FFF;
    color: #E5E7EB;
    font-size: large;
}
.left p{
    color: #E5E7EB;
    font-size: large;
}

strong {
    font-size: 24px;
    color: #FFF;
}

/* FOOTER */
footer {
    background-color: #1f2937;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 0;
}